* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}
.container {
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box {
  flex: 0 0 auto;
  background-color: white;
  border: 1px solid black;
}
